.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: white;
    color: var(--color-button);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.modal-buttons .yes {
    background-color: var(--color-yours);
    color: white;
}

.modal-buttons .no {
    background-color: var(--color-mine);
    color: white;
}